{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br>
<div class="AboutUs1">
    <div class="AboutUs2">
        <h2 class="HoursFont2">Charlie's is a diner formed by Charlie J. Amusement in 2876.</h2>
    <h6>Charlie created the diner in honor of his brother who perished of starvation, in hopes that no one else has to experience what he experienced. He plans on expanding the chain to be in every solar system. Charlie's has many different kinds of Soups, Sandwiches, and Pizza all of which are made by employees with a passion for cooking</h6>
    </div>
</div>
{% endblock content %}