{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br>
<div class="location_hour_Div Center_the_boi">
    <div class="LocationDiv1">
        <div class="LocationDiv2">
            <div class="HoursFont">
                Locations:
            </div>
            <table class="LocationTable">
                <tr>
                    <td>
                        Terra-X
                    </td>
                </tr>
                <tr>
                    <td>
                        Triax
                    </td>
                </tr>
                <tr>
                    <td>
                        Gilea
                    </td>
                </tr>
                <tr>
                    <td>
                        Meruta
                    </td>
                </tr>
                <tr>
                    <td>
                        Crounus XI
                    </td>
                </tr>
                <tr>
                    <td>
                        Dricarro
                    </td>
                </tr>
                <tr>
                    <td>
                        Sanilia
                    </td>
                </tr>
                <tr>
                    <td>
                        Thelea
                    </td>
                </tr>
                <tr>
                    <td>
                        Akippe
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="HoursDiv1">
        <div class="HoursDiv2">
            <div class="HoursFont">
                Hours:
            </div>
            <table class=" HourTable">
                <tr class="">
                    <td class="">
                        Sunday:
                    </td>
                    <td class="">
                        11am-10pm
                    </td>
                </tr>
                <tr class="">
                    <td class="">
                        Monday:
                    </td>
                    <td class="">
                        9am-10pm
                    </td>
                </tr>
                <tr class="">
                    <td class="">
                        Tuesday:
                    </td>
                    <td class="">
                        9am-10pm
                    </td>
                </tr>
                <tr class="">
                    <td class="">
                        Wednesday:
                    </td>
                    <td class="">
                        9am-8pm
                    </td>
                </tr>
                <tr class="">
                    <td class="">
                        Thursday:
                    </td>
                    <td class="">
                        9am-8pm
                    </td>
                </tr>
                <tr class="">
                    <td class="">
                        Friday:
                    </td>
                    <td class="">
                        11am-10pm
                    </td>
                </tr>
                <tr class="">
                    <td class="">
                        Saturday:
                    </td>
                    <td class="">
                        9am-10pm
                    </td>
                </tr>
        </div>
    </div>
</div>
{% endblock content %}