{% extends "MenuBase.html" %}
{% load static %}
{% block content %}
<br><br><br>
<div class="Menu1">
    <div class="Menu2">
        <Div class="HoursFont2">
            <br>
            <a href="#Pizza"><button class="MenuNav">Pizza</button></a>
            <a href="#Sandwich"><button class="MenuNav">Sandwich</button></a>
            <a href="#Soup"><button class="MenuNav">Soup</button></a>
            <a href="#Salad"><button class="MenuNav">Salad</button></a>
        </div>
        <form action="{% url "MENU" %}" method="GET">
        <label>
        <h2 class="HoursFont2"  id="Pizza">Pizza</h2>
        <div>
            <div><div><img src="{% static "images/CPizza.jpg" %}" alt="" width="150pt"/></div>Cheese Pizza: $4.00<div><h6> Made with Tomato Sauce and Mozzarella Cheese</h6></div><div><input type="Number" name="CPizza" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/PPizza.jpg" %}" alt="" width="150pt"/></div>Pepperoni Pizza: $5.00<div><h6> Made with Tomato Sauce, Mozzarella Cheese, and Pepperoni</h6></div><div><input type="Number" name="PPizza" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/SPizza.png" %}" alt="" width="150pt"/></div>Supreme Pizza: $6.00<div><h6> Made with Tomato Sauce, Mozzarella Cheese, and Pepperoni,Sausage, Green Bell Peppers, Ground Beef, Black Olives, Ham, Mushrooms, and Red Onions</h6></div><div><input type="Number" name="SPizza" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/MPizza.jpg" %}" alt="" width="150pt" Height="150pt"/></div>Margharita Pizza: $4.50<div><h6> Made with Tomato Sauce, Mozzarella Cheese, Sliced Tomatoes, and Basil</h6></div><div><input type="Number" name="MPizza" class="Order"></div></div>
        </div>
        <h2 class="HoursFont2" id="Sandwich">Sandwhiches</h2>
        <div>
            <div><div><img src="{% static "images/CSandwich.jpg" %}" alt="" width="150pt"/></div>Club Sandwich: $6.00<div><h6> Made with Toasted multi-grain bread, Bacon, Ham, Turkey, Avacado, Mayonnaise, Romaine lettuce, and Sliced tomato</h6></div><div><input type="Number" name="CSandwich" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/GSandwich.jpg" %}" alt="" width="150pt"/></div>Grilled Chicken Sandwich: $5.50<div><h6> Made with Toasted multi-grain bread, Grilled Chicken, Romaine lettuce, and Sliced tomato</h6></div><div><input type="Number" name="GSandwich" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/FSandwich.jpg" %}" alt="" width="150pt" Height="150pt"/></div>French Dip: $5.00<div><h6> Made with French Rolls, Beef chuck roast, Beef Broth, French Onion Soup, Worcestershire sauce, and Provolone cheese</h6></div><div><input type="Number" name="FSandwich" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/TSandwich.jpg" %}" alt="" width="150pt"/></div>Turkey BLT: $4.50<div><h6> Made with Whole-wheat bread, Mayonnaise, Lettuce, Tomato slices, Thinly cut Turkey, Bacon, and Avacado</h6></div><div><input type="Number" name="TSandwich" class="Order"></div></div>
        </div>
        <h2 class="HoursFont2" id="Soup">Soup</h2>
        <div>
            <div><div><img src="{% static "images/PSoup.jpeg" %}" alt="" width="150pt"/></div>Potato: $6.00<div><h6> Made with Potatoes, Bacon, Onion,Garlic, Chicken broth, Cream, and Cheddar cheese</h6></div><div><input type="Number" name="PSoup" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/TSoup.jpg" %}" alt="" width="150pt"/></div>Tomato: $6.00<div><h6> Made with Tomatoes, Onions, Chicken Broth, Celery, and Honey</h6></div><div><input type="Number" name="TSoup" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/VSoup.jpg" %}" alt="" width="150pt"/></div>Vegetable: $6.50<div><h6> Made with Sweet Potato, Red and Yellow Bell pepper, Carrots, Garlic, Red Onion, Vegetable Stock, Parmesan, Thyme</h6></div><div><input type="Number" name="PSoup" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/MSoup.jpg" %}" alt="" width="150pt"/></div>Miso: $4.50<div><h6> Made with Vegetable Broth, Leek, Shiitake mushrooms, Seaweed, Soy Sauce, Mirin, Miso Paste, Wilatable greens, Tofu, Sesame Seeds</h6></div><div><input type="Number" name="MSoup" class="Order"></div></div>
        </div>
        <h2 class="HoursFont2" id="Salad">Salads</h2>
        <div>
            <div><div><img src="{% static "images/GGSalad.jpg" %}" alt="" width="150pt"/></div>Green Salad: $5.00<div><h6> Made with Lettuce, Lemon Vinaigrette, Cucumber, Parmesan cheese, Pepitas, Avacado, Microgreens, Almonds</h6></div><div><input type="Number" name="GGSalad" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/CSalad.jpg" %}" alt="" width="150pt"/></div>Caeser Salad: $5.00<div><h6> Made with Romaine lettuce, Parmesan cheese, Croutons, Caeser Dressing</h6></div><div><input type="Number" name="CSalad" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/GSalad.jpg" %}" alt="" width="150pt" /></div>Greek Salad: $5.00<div><h6> Made with Cucumbers, Tomatoes, Red onions, Black olives, Chickpease, Feta cheese, and Greek dressing</h6></div><div><input type="Number" name="GSalad" class="Order"></div></div>
            <br>
            <div><div><img src="{% static "images/GASalad.jpg" %}" alt="" width="150pt"/></div>Garden Salad: $5.00<div><h6> Made with Romaine lettuce, Tomatoes, Cucumber, Sweet Red pepper, Red Onion, Parsley, Basil, Mint</h6></div><div><input type="Number" name="GASalad" class="Order"></div></div>
        </div>
        </label>
        <button>Order</button>
        </form>
        <br>
        {% if Total is not None %}
        <div class="Receipt">
        <div class="BottomLine">Total:<p>${{Total|floatformat:"2"}}</P></div>
            {% if CPizza is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Cheese Pizza: 4.00 x {{CPizza}}: ${{CPizzaTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if PPizza is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Pepperoni Pizza: 5.00 x {{PPizza}}: ${{PPizzaTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if SPizza is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Supreme Pizza: 6.00 x {{SPizza}}: ${{SPizzaTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if MPizza is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Margharita Pizza: 4.50 x {{MPizza}}: ${{MPizzaTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if CSandwich is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Club Sandwich: 6.00 x {{CSandwich}}: ${{CSandwichTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if GSandwich is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Grilled Chicken Sandwich: 5.50 x {{GSandwich}}: ${{GSandwichTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if FSandwich is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">French Dip: 5.00 x {{FSandwich}}: ${{FSandwichTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if TSandwich is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Turkey BLT: 4.00 x {{TSandwich}}: ${{TSandwichTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if PSoup is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Potato Soup: 6.00 x {{PSoup}}: ${{PSoupTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if TSoup is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Tomato Soup: 6.00 x {{TSoup}}: ${{TSoupTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if VSoup is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Vegetable Soup: 6.50 x {{VSoup}}: ${{VSoupTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if MSoup is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Miso Soup: 4.50 x {{MSoup}}: ${{MSoupTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if GGSalad is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Green Salad: 5.00 x {{GGSalad}}: ${{GGSaladTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if CSalad is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Caeser Salad: 5.00 x {{CSalad}}: ${{CSaladTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if GSalad is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Greek Salad: 5.00 x {{GSalad}}: ${{GSaladTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            {% if GASalad is not 0 %}
            <div class="BottomLine">
            <p class="ReceiptSmall">Garden Salad: 5.00 x {{GASalad}}: ${{GASaladTOTAL|floatformat:"2"}}</p>
            </div>
            {% endif %}
            <p class="ReceiptSmall">Thanks for ordering with Charlie's, have a nice day!</p>
        </div>
        <br>
        {% endif %}

    </div>
    <!--<div class="Receipt">
        <div class="BottomLine">Total:<p>{{Total}}</P></div>
    </div>-->
    </div>
</div>
{% endblock content %}