{% extends "MenuBase.html" %}
{% load static %}
{% block content %}
<br><br><br>
<div class="Menu1">
    <div class="Menu2">
        <h2 class="HoursFont2">Pizza</h2>
        <div>
            <div>Cheese</div>
            <div>Pepperoni</div>
            <div>Supreme</div>
            <div>Margherita</div>
        </div>
        <h2 class="HoursFont2">Sandwhiches</h2>
        <div>
            <div>Club Sandwhich</div>
            <div>Grilled Chicken</div>
            <div>French Dip</div>
            <div>Turkey</div>
        </div>
        <h2 class="HoursFont2">Soup</h2>
        <div>
            <div>Potato</div>
            <div>Tomato</div>
            <div>Vegetable</div>
            <div>Miso</div>
        </div>
        <h2 class="HoursFont2">Salads</h2>
        <div>
            <div>Green</div>
            <div>Ceaser</div>
            <div>Greek</div>
            <div>Garden</div>
        </div>
    </div>
</div>
{% endblock content %}